html, body{
    height:100%;
}

#content{
    dsiplay:block;
    height: 80%;
}

#gk-top-menu{
    width: 100%;
}

#gk-side-menu{
    width:20%;
    float:left;
}

#gk-stages{
    width:80%;
    background-color:#ddd;
    float:right;
    height:100%;
}

.navbar{
    margin-bottom: 0;
}

.stage{
    margin:5px;
}

.stage-selected{
}

.glyphicon.inverse{
    color:white;
}

.glyphicon.large{
    margin-left: .5em;
    margin-right: .5em;
    font-size: 2em;
    line-height: 1.5em;
}

.icon-button{
    width: 4rem;
    height: 4rem;
    background-size: 100%;
}

.readable{
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}

.layer{
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #EEE;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.layer.current{
    background: #CCC;
}

.layer.selected{
    background: #77BBFF;
}

.layer-name{
    float:right;
    text-overflow: ellipsis;
}

.lock-button, .visible-button{
    height: 20px;
}

.spacer:before{
    content: "\00a0"; /* non-breaking space */
}

.pressed{
    border-style:inset;    
}