html, body{
    height:100%;
}

#content{
    dsiplay:block;
}

#gk-menu{
    width:20%;
    float:left;
}

#gk-stages{
    width:80%;
    background-color:#ddd;
    float:right;
    height:100%;
}

.stage{
    margin:5px;
}

.stage-selected{
}
