html, body{
    height:100%;
}

#content{
    dsiplay:block;
}

#gk-top-menu{
    width: 100%;
}

#gk-side-menu{
    width:20%;
    float:left;
}

#gk-stages{
    width:80%;
    background-color:#ddd;
    float:right;
    height:100%;
}

.stage{
    margin:5px;
}

.stage-selected{
}

.layer{
    height:30px;
}

.lock-button, .visible-button{
    height:20px;
}

.spacer::after{
    content: "|";
}

.pressed{
    border-style:inset;    
}